[settings]
mainlog        = /var/log/rutgers-pymirror/main.log
lastsyncfile   = /var/log/rutgers-pymirror/timestamps.cfg
datetimeformat = %b %d %Y %H:%M:%S

# Example:
#[archlinux]
#url      = rsync://rsync.localmsp.org/arch/
#synchome = /limbus/centos/archlinux
#synclog  = /var/log/rutgers-pymirror/archlinux.log
#synclock = /var/lock/rutgers-pymirror/archlinux
